/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.second_container {
    background-color: wheat;
    width: 280px;
    margin: 20px auto;
    border: 1px solid gray;
    height: 390px;
    border-radius: 10px;
}

.user_put {
    width: 100%;
    margin: 0 atuo;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 15px;
}

.user_put>input {
    width: 100%;
    border: 1px solid gray;
    height: 30px;
    border-radius: 10px;
    padding: 15px;
}

.btn_op {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.btn_operator {
    justify-content: center;
    background-color: gray;
    border: 1px solid gray;
    margin: 0 auto;
    width: 90%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    border-radius: 50px;
}
.btn_equal{
    width: 120%;
        justify-content: center;
    background-color: gray;
    border: 1px solid gray;
    margin: 0 auto;
    color: white;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    border-radius: 50px;
} */